body {
  background-color:#2f2f2f;
}
button{
    height: 1.6rem;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:4rem;
}
p{
    margin:0;
}
table{
    margin: auto;
    border-collapse: collapse;
}
td, th{
    text-align: left;
    border: 1px solid #777;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
}
th{
    font-size:25px;
    font-weight: bold;
}
td{
    font-size:20px;
}
tr:nth-child(even){
    background: #555;
}
.table-container{
    height: calc(100vh - 4rem);
    min-height: fit-content;
    padding-top: 10vh;
}
.ticker-container{
    position: absolute;
    width: 100vw;
}
.ticker{
    background-color: #3f3f3f;
    padding-left: 1vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2vh;
    min-height: 3rem;
    height: max-content;
    position: relative;
}
.div-track-coin{
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6f6f7a;
    width: min-content;
    max-height: min-content;
    position: fixed;
    z-index: 10;
    border-radius: 1.5vh;
}
.div-track-coin-invisible{
    display: none;
}
.button-add-to-portfolio{
    margin-right: 10%;
    margin-left: 10%;
    background-color: #00ad85;
    padding: 1rem;
    height: min-content;
    width: 80%;
    border-color:#00ad85 ;
    box-shadow: 0px 0px;
    border-radius: 1vh;
}
.main-explorer{
}
.crypto-portfolio{
    display: flexbox;
    background-color: #5f5f5f;
    width: 60vw;
    padding: 1vw;
    border-radius: .5rem;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.crypto-portfolio:nth-child(odd){
    background-color: #3f3f3f;
}
.crypto-portfolio-parent{
    background-color: #666;
    height: min-content;
    min-height: 4rem;
    margin-bottom: 1rem;
    width: 62vw;
    max-width: 100%;
    border-radius: .5rem;
    transition: min-height .7s;
    position: relative;
    margin-left: 1rem;
    
}
.crypto-portfolio-hidden{
    z-index: 0;
    width: 100%;
    padding-left: 1vw;
    padding-bottom: .1vw;
    position: relative;
    transition: padding-top .7s;
    display: flex;
    flex-direction: row;
}
.crypto-portfolio-hidden-not{
    padding-top: 4rem;
}
.high{
    min-height: 8rem;
}
.input-edit{
    height: 1rem;
    margin-top:1.4rem;
    margin-right: 1.5rem;
    margin-left: .5rem;
    width: 4rem;
}
.text-edit{
    margin-top:1.3rem;
}
.save-edit{
    margin-top:1rem;
    height: 2rem;
}